<div class="row">
    <div class="col">
        <form name="search">
            <div class="form-group">
              <label for="groupSelect">Select Group:</label>
              <select class="form-control" id="groupSelect">
                <option>Please select a group...</option>
                <option ng-repeat="group in $ctrl.$rootScope.groups[0]" value="{{group.id}}">{{group.group_name}}</option>
              </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Type of place" name="term" id="term">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City, State or ZipCode" name="location" id="location">
            </div>
            <button class="btn btn-outline-primary" ng-click="$ctrl.$rootScope.searchYelp()">Submit</button>
        </form>
    </div>
</div>