<div id="newEvent">
    <div class="container text-center mt-3 py-3 w-75 px-2">
        <div class="row">
            <div class="col">
                <h1>Headed out tonight?</h1>
                <!-- <p>Choose your group below, enter a search term like "Tacos" and a general location and hit Get Results!</p> -->
                <ul class="p-0" style="list-style: none;">
                    <li>Choose your group.</li>
                    <li>Enter a search term. (i.e. "Tacos")</li>
                    <li>Enter a location (i.e. "Lexington, KY")</li>
                    <li>Hit Go!</li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label for="groupSelect" class="col-2 col-form-label text-right pr-0 hidden-sm-down">Select Group</label>
                    <div class="col-sm-12 col-md-10">              
                        <select class="form-control custom-select" id="groupSelect">
                            <option>Please select one</option>
                            <option ng-repeat="group in $ctrl.$rootScope.groups[0]" value="{{group.id}}">{{group.group_name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label for="" class="col-2 col-form-label text-right pr-0 hidden-sm-down">Search</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" placeholder="Enter destination..." name="term" id="term">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label for="" class="col-2 col-form-label text-right pr-0 hidden-sm-down">Location</label>
                    <div class="col-sm-12 col-md-10">
                        <input type="text" class="form-control" placeholder="City, State or ZipCode" name="location" id="location">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">      
            <div class="col">
                <button class="btn btn-outline-primary btn-lg" ng-click="$ctrl.$rootScope.searchYelp()">Go!</button>
            </div>
        </div>


    </div>
</div>