@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:900|Roboto');

html, body {
	padding: 0;
	margin: 0;
	margin-bottom: 10%;
	background-color: #577c28;
	font-family: 'Roboto', sans-serif;
	color:white;
}
