#landing {
    color: #7f0c0b;
    background-color: white;

    #maincontent {
        background-image: url(./food.jpg); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        display:table;
        width: 100%;

        h1, h3, h4 {
            color: white;
            font-family: 'Alegreya Sans', sans-serif;
            text-shadow: 5px 5px 5px rgba(127, 12, 11, 1);
        }
        
        #headerText {

         background-color: rgba(127, 12, 11, .6); 
         height: 50%;
        }

    }

    #changeText {
        transition: 1s;
    }

    .pull-bottom {
        position: absolute;
        bottom: 0;
        background-image : linear-gradient(to bottom, 
                        rgba(255,255,255, 0), 
                        rgba(255,255,255, 1) 90%);
        margin-bottom: -5px;
    }

    h1, h3, h4 {
        color: #7f0c0b;
        font-family: 'Alegreya Sans', sans-serif;
    }

    i {
        text-shadow: 3px 3px 3px rgba(127, 12, 11, 1);

    }

    #gif {
        padding-top: 12%;
    }

}