#landing {
    color: #7f0c0b;
    background-color: white;

    #maincontent {
        background-image: url(./food.jpg); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        display:table;
        width: 100%;

    }

    #changeText {
        transition: 1s;
    }

    .pull-bottom {
        position: absolute;
        bottom: 0;
        background-image : linear-gradient(to bottom, 
                        rgba(255,255,255, 0), 
                        rgba(255,255,255, 1) 90%);
        margin-bottom: -5px;
    }

    h1, h3, h4 {
        font-family: 'Alegreya Sans', sans-serif;
        text-shadow: 3px 3px 5px rgba(255, 255, 255, 1);
    }

    #whatIsSwither {
        background-color: #f1f1f1;
    }
    
}