<div id="swipeScreen">
    <div class="container">

    <div class="row">
        <div class="col">
            <div class="alert" ng-if="$ctrl.$rootScope.alert">{{$ctrl.$rootScope.message}}</div>
        </div>
    </div>
    <div class="card card-default mt-2">
        <div class="container-fluid m-0">
            <div class="row bg-inverse pt-5 pb-2">
                <div class="col-6 mx-auto">
                    <img class="img-fluid" src="{{$ctrl.$rootScope.searchResults[0][0].image_url}}">
                </div>
                <div class="col-12 text-center text-white mt-3 mb-0">
                    <h3>{{$ctrl.$rootScope.searchResults[0][0].name}}</h3>
                    <p>{{$ctrl.$rootScope.searchResults[0][0].location.display_address[0]}}<br />{{$ctrl.$rootScope.searchResults[0][0].location.display_address[1]}}</p>
                    <sub class="align-text-top">{{$ctrl.$rootScope.searchResults[0][0].phone}}</sub>
                </div>
            </div>
            <div class="row my-2 justify-content-center">
                <div class="col hidden-sm-down"></div>
                <div class="col text-center">
                    <i class="fa fa-money"></i>
                    <br> Price
                    <h4>{{$ctrl.$rootScope.searchResults[0][0].price}}</h4>
                </div>
                <div class="col text-center">
                    <i class="fa fa-star"></i>
                    <br> Rating
                    <h4>{{$ctrl.$rootScope.searchResults[0][0].rating}}</h4>
                </div>
                <div class="col text-center">
                    <i class="fa fa-cutlery"></i>
                    <br>Cuisine
                    <h5>{{$ctrl.$rootScope.searchResults[0][0].categories[0].title}}</h5>
                </div>
                <div class="col text-center hidden-sm-down">
                    <i class="fa fa-laptop"></i>
                    <br><a href="{{$ctrl.$rootScope.searchResults[0][0].url}}" target="_blank">Website</a>
                </div>
                <div class="col hidden-sm-down"></div>
            </div>
        </div>
    </div>

    <!-- like/pass buttons -->

    <div class="row justify-content-center mt-2">
        <div class="col"></div>
        <div class="col text-center">
                <i id="dislike" class="fa fa-times-circle-o fa-5x" style="font-size: 8em;"  ng-click="$ctrl.$rootScope.skipPlace()"></i>
        </div>
        <div class="col text-center">
                <i id="like" class="fa fa-plus-circle fa-5x" style="font-size: 8em;" ng-click="$ctrl.$rootScope.saveLike()"></i>
        </div>
        <div class="col"></div>
    </div>


    </div> <!-- end container -->
</div> <!-- end id wrapper -->





