#dashboard {
	color: #7f0c0b;
	.hoverMe:hover {
		-webkit-box-shadow: 25px 25px 25px 25px #929292;
		box-shadow: 25px 25px 50px 5px #929292;
		transition: .5s;
	}

	.hoverMe {
		transition: .5s
	}

	#tutorial {
		opacity: .5;
		font-size: 10px;
	}
}

#matchesHTML{

	p {
		color: #7f0c0b;
	}


}

#createGroup, #joinGroupPage, #dashboard, #matchesHTML, #firstLogin {
	h1, h2, h4 {
		font-family: 'Alegreya Sans', sans-serif;
		color: #7f0c0b;
	}

	// .container > * {
	// 	opacity: 1;
	// }

	// .container {
	// 	background: rgba(255, 255, 255, 0.6);
	// 	box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
	// } 
}

#tutorial {
	max-height: 100vh;
	max-width: 100vh;
	img {
		max-height: 40vh;
	}

	.card {
		height: 70vh;
	}
}
