#dashboard {
	color: #7f0c0b;
	.animated:hover {
		-webkit-box-shadow: 25px 25px 25px 25px #929292;
		box-shadow: 25px 25px 50px 5px #929292;
		transition: .5s;
	}

	.animated {
		transition: .5s
	}


}

#matchesHTML{

	p {
		color: #7f0c0b;
	}


}

#createGroup, #joinGroupPage, #dashboard, #matchesHTML, #firstLogin {
	h1, h2, h4 {
		font-family: 'Alegreya Sans', sans-serif;
		color: #7f0c0b;
	}

	// .container > * {
	// 	opacity: 1;
	// }

	// .container {
	// 	background: rgba(255, 255, 255, 0.6);
	// 	box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
	// } 
}
