#dashboard {
	color: #7f0c0b;
	i:hover {
		-webkit-box-shadow: 25px 25px 50px 25px #929292;
		box-shadow: 25px 25px 50px 5px #929292;
		transition: all .5s;
	}

	i {
		transition: .5s
	}


}

#matchesHTML{

	p {
		color: #7f0c0b;
	}


}