
<div class="mt-5" ng-show="$ctrl.$rootScope.alert">{{$ctrl.$rootScope.message}}</div>

<form id="getIntoGroup" name="getIntoGroup">
  <div class="container main-center">
    <div class="form-group">
      <label for="siteSelect">Group Name:</label>
    <input type="text" id="join_group_name" ng-minlength="4" placeholder="Group Name..." ng-model="joinName" required>
    </div>
    <div class="form-group">
      <label for="password">Enter PIN:</label>
    <input type="password" id="join_pin" limit-to="4" placeholder="4 Digit PIN..." ng-minlength="4" ng-model="$ctrl.joinPin" required>
    </div>

<button ng-click="$ctrl.$rootScope.joinGroups()" class="btn btn-outline-primary" ng-disabled="getIntoGroup.$invalid">Join Group</button>
</div>
</form>