
<div id="joinGroupPage">
	<div class="container text-center mt-3 py-3 px-2">
	<div class="row">
	    <div class="col text-left pl-3">
	        <p go-click="auth.dashboard"><i class="ion-android-arrow-back"></i> BACK</p>
	    </div>
	</div>
		<div class="row">
			<div class="col">
                <h1>Know a group you wanna join?</h1>
                <sup>You'll need the name and PIN number from the group</sup>
			</div>
		</div>
		<div class="my-2 alert-danger" ng-show="$ctrl.$rootScope.alert">{{$ctrl.$rootScope.message}}</div>

<form>
	<div class="row">
		<div class="col">
			<div class="form-group row">
				<label for="join_group_name" class="col-2 col-form-label text-right pr-0 hidden-sm-down">Group Name</label>
				<div class="col-sm-12 col-md-10"><input type="text" class="form-control" id="join_group_name" ng-minlength="4" placeholder="Enter the name of the group..." ng-model="joinName" required></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="form-group row">
				<label for="join_pin" class="col-2 col-form-label text-right pr-0 hidden-sm-down">Enter PIN</label>
				<div class="col-sm-12 col-md-10"><input class="form-control" type="password" id="join_pin" limit-to="4" placeholder="Enter the secret PIN for the group" ng-minlength="4" ng-model="$ctrl.joinPin" required autocomplete="new-password"/></div>
			</div>
		</div>
	</div>
	        <div class="row">      
	            <div class="col">
	                <button ng-click="$ctrl.$rootScope.joinGroups()" class="btn btn-outline-primary" ng-disabled="getIntoGroup.$invalid">Join Group!</button>
	            </div>
	        </div>
</form>
	</div>
</div>







