<div id="matchesHTML">
	<div class="container mt-3 py-3">
	<div class="row">
	    <div class="col text-center">
	        <p go-click="auth.dashboard"><i class="ion-arrow-return-left"></i> back</p>
	    </div>
	</div>
	<div class="row">
	    <div class="col text-center">
	        <h1>See Your Likes!</h1>
	        <p>First, select the group you want to see your personal likes for and then submit the request!</p>
	    </div>
	</div>
	
<form id="seeLikes" name="seeLikes">
	<div class="row">
		<div class="col hidden-lg-down"></div>
		<div class="col">
			<div class="form-group">
				<select class="form-control custom-select" id="likesRetrieve" name="likesRetrieve" ng-model="likesRetrieve" required
    ng-options="group.id as group.group_name for group in $ctrl.$rootScope.groups[$ctrl.$rootScope.groups.length-1] track by group.id" >
					<option value=""> --  SELECT GROUP  -- </option>
				</select>
			</div>
			
		</div>
		<div class="col hidden-lg-down"></div>
	</div>
	<div class="row text-center">
		<div class="col">
			<button class="btn btn-outline-primary" ng-click="$ctrl.$rootScope.seeLikesinGroup()" >Retrieve Likes</button>
		</div>
	</div>
</form>
<!-- ng-disabled="seeLikes.$invalid" -->
	<table class="table table-striped table-sm mt-2" ng-show="$ctrl.$rootScope.showLikesTable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Category</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="like in $ctrl.$rootScope.likes">
				<td><a href="{{like.url}}" target="_blank">{{like.name}}</a></td>
				<td>{{like.categories[0].title}}</td>
				<td>{{like.price}}</td>
			</tr>
		</tbody>
	</table>
</div>