<div id="matchesHTML">
	<div class="container mt-3 py-3">
	<div class="row">
	    <div class="col text-center">
	        <p go-click="auth.dashboard"><i class="ion-arrow-return-left"></i> back</p>
	    </div>
	</div>
	<div class="row">
	    <div class="col text-center">
	        <h1>Where to?</h1>
	        <p>First, select the group you are going out with, hit 'Go!' and you'll get your spot!</p>
	    </div>
	</div>
	
<form id="retrieveMatches" name="retrieveMatches">
	<div class="row">
		<div class="col hidden-lg-down"></div>
		<div class="col">
			<div class="form-group">
				<select class="form-control custom-select" id="matchRetrieve" name="matchRetrieve" ng-model="matchRetrieve" required
    ng-options="group.id as group.group_name for group in $ctrl.$rootScope.groups[$ctrl.$rootScope.groups.length-1] track by group.id" >
					<option value=""> --  SELECT GROUP  -- </option>
				</select>
			</div>
			
		</div>
		<div class="col hidden-lg-down"></div>
	</div>
	<div class="row text-center">
		<div class="col">
			<button class="btn btn-outline-primary" ng-click="$ctrl.$rootScope.viewMatches()" ng-disabled="retrieveMatches.$invalid">GET OUR SPOT!</button>
		</div>
	</div>
</form>
		<div class="card-columns mt-2" ng-show="$ctrl.$rootScope.showMatch">
			<div class="card mb-2 animated zoomInUp">
				<img class="card-img-top img-fluid" src="{{$ctrl.$rootScope.matches[0].image_url}}" alt="Card image cap">
				<div class="card-block">
					<h5 class="card-title" style="color: #d2731f">{{$ctrl.$rootScope.matches[0].name}}</h5>
					<p class="card-text">{{$ctrl.$rootScope.matches[0].display_phone}} <br>
						{{$ctrl.$rootScope.matches[0].location.display_address[0]}} <br>
					{{$ctrl.$rootScope.matches[0].location.display_address[1]}} </p>
				</div>
			</div>
		</div>
	</div>
</div>